/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Color Pallette */
	--black4: hsl(0, 0%, 0%);
	--black3: hsl(0, 0%, 5%);
	--black2: hsl(0, 0%, 10%);
	--black1: hsl(0, 0%, 15%);

	--dark-gray4: hsl(0, 0%, 20%);
	--dark-gray3: hsl(0, 0%, 25%);
	--dark-gray2: hsl(0, 0%, 30%);
	--dark-gray1: hsl(0, 0%, 35%);

	--gray4: hsl(0, 0%, 40%);
	--gray3: hsl(0, 0%, 45%);
	--gray2: hsl(0, 0%, 50%);
	--gray1: hsl(0, 0%, 60%);

	--light-gray4: hsl(0, 0%, 65%);
	--light-gray3: hsl(0, 0%, 70%);
	--light-gray2: hsl(0, 0%, 75%);
	--light-gray1: hsl(0, 0%, 80%);

	--white1: hsl(0, 0%, 85%);
	--white2: hsl(0, 0%, 90%);
	--white3: hsl(0, 0%, 95%);
	--white4: hsl(0, 0%, 100%);

	--red1: hsl(2, 100%, 35%);
	--red2: hsl(2, 100%, 45%);
	--red3: hsl(2, 100%, 55%);

	--yellow1: hsl(59, 100%, 35%);
	--yellow2: hsl(59, 100%, 45%);
	--yellow2: hsl(59, 100%, 55%);

	--green1: hsl(123, 100%, 35%);
	--green2: hsl(123, 100%, 45%);
	--green3: hsl(123, 100%, 55%);

	--teal1: hsl(173, 100%, 35%);
	--teal2: hsl(173, 100%, 45%);
	--teal3: hsl(173, 100%, 55%);

	--blue1: hsl(210, 100%, 35%);
	--blue2: hsl(210, 100%, 45%);
	--blue3: hsl(210, 100%, 55%);

	--blue-gray1: hsl(217, 33%, 17%);

	--purple1: hsl(261, 100%, 35%);
	--purple2: hsl(261, 100%, 45%);
	--purple3: hsl(261, 100%, 55%);

	--pink3: hsl(315, 100%, 35%);
	--pink1: hsl(315, 100%, 45%);
	--pink2: hsl(315, 100%, 55%);

	/* Team Colors */

	--ari-warm: hsl(350, 74%, 38%);
	--ari-cold: hsl(0, 0%, 0%);

	--atl-warm: hsl(345, 85%, 44%);
	--atl-cold: hsl(220, 61%, 19%);

	--bal-warm: hsl(19, 99%, 44%);
	--bal-cold: hsl(0, 0%, 0%);

	--bos-warm: hsl(356, 59%, 46%);
	--bos-cold: hsl(221, 55%, 22%);

	--chw-warm: hsl(203, 16%, 80%);
	--chw-cold: hsl(0, 0%, 0%);

	--chc-warm: hsl(0, 60%, 50%);
	--chc-cold: hsl(222, 81%, 29%);

	--cin-warm: hsl(351, 99%, 39%);
	--cin-cold: hsl(0, 0%, 0%);

	--cle-warm: hsl(351, 80%, 49%);
	--cle-cold: hsl(221, 55%, 23%);

	--col-warm: hsl(268, 100%, 22%);
	--col-cold: hsl(0, 0%, 0%);

	--det-warm: hsl(20, 89%, 54%);
	--det-cold: hsl(219, 56%, 21%);

	--hou-warm: hsl(23, 84%, 52%);
	--hou-cold: hsl(212, 100%, 19%);

	--kcr-warm: hsl(37, 45%, 55%);
	--kcr-cold: hsl(213, 71%, 31%);

	--laa-warm: hsl(352, 56%, 34%);
	--laa-cold: hsl(210, 100%, 19%);

	--lad-warm: hsl(359, 85%, 59%);
	--lad-cold: hsl(205, 100%, 31%);

	--mia-warm: hsl(24, 100%, 50%);
	--mia-cold: hsl(0, 0%, 0%);

	--mil-warm: hsl(44, 60%, 45%);
	--mil-cold: hsl(219, 78%, 18%);

	--min-warm: hsl(344, 85%, 45%);
	--min-cold: hsl(212, 100%, 18%);

	--nyy-warm: hsl(200, 15%, 80%);
	--nyy-cold: hsl(221, 58%, 18%);

	--nym-warm: hsl(18, 100%, 53%);
	--nym-cold: hsl(216, 100%, 22%);

	--oak-warm: hsl(42, 87%, 53%);
	--oak-cold: hsl(173, 100%, 11%);

	--phi-warm: hsl(355, 82%, 50%);
	--phi-cold: hsl(223, 58%, 38%);

	--pit-warm: hsl(41, 98%, 57%);
	--pit-cold: hsl(0, 0%, 0%);

	--sdp-warm: hsl(196, 6%, 66%);
	--sdp-cold: hsl(212, 100%, 19%);

	--sea-warm: hsl(180, 100%, 18%);
	--sea-cold: hsl(214, 76%, 19%);

	--sfg-warm: hsl(16, 98%, 55%);
	--sfg-cold: hsl(0, 0%, 0%);

	--stl-warm: hsl(350, 73%, 44%);
	--stl-cold: hsl(242, 50%, 25%);

	--tbr-warm: hsl(209, 64%, 73%);
	--tbr-cold: hsl(215, 82%, 20%);

	--tex-warm: hsl(355, 84%, 41%);
	--tex-cold: hsl(215, 100%, 24%);

	--tor-warm: hsl(4, 82%, 51%);
	--tor-cold: hsl(213, 76%, 32%);

	--wsn-warm: hsl(359, 100%, 34%);
	--wsn-cold: hsl(234, 46%, 24%);

	/* Theme Colors */

	--body-text-color: var(--black4);
	--site-bg-color: var(--gray2);
	--page-bg-color: var(--white1);
	--link-color: var(--purple2);

	--table-body-bg-color-even: var(--light-gray1);
	--table-body-bg-color-odd: var(--light-gray2);
	--table-col-header-bg-color: var(--light-gray4);
	--table-col-header-color: var(--blue-gray1);
	--table-col-header-bottom-border: var(--black4);
	--table-outer-border-color: var(--black4);
	--table-inner-border-vert-color: var(--gray1);
	--table-inner-border-horiz-color: var(--light-gray4);

	/*
  color: none;
  background-color: none;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
  */
}

html {
	font-size: 16px;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

body {
	font-family: roboto, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	background: var(--site-bg-color);
	color: var(--body-text-color);
	margin: 0;
	line-height: 1.6;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

p {
	@apply text-base font-light leading-relaxed mt-0 mb-4;
}

h1 {
	color: var(--table-col-header-color);
	@apply text-4xl font-normal leading-normal mt-0 mb-2;
}

h2 {
	color: var(--table-col-header-color);
	@apply text-3xl font-normal leading-normal mt-0 mb-2;
}

h3 {
	color: var(--table-col-header-color);
	@apply text-2xl font-normal leading-normal mt-0 mb-2;
}

h4 {
	color: var(--table-col-header-color);
	@apply text-xl font-normal leading-normal mt-0 mb-2;
}

h5 {
	color: var(--table-col-header-color);
	@apply text-lg font-normal leading-normal mt-0 mb-2;
}

h6 {
	color: var(--table-col-header-color);
	@apply text-base font-normal leading-normal mt-0 mb-2;
}

.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.container {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	background-color: inherit;
	box-shadow: none;
}

nav {
	background-color: var(--page-bg-color);
}

.wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 0;
	background-color: var(--page-bg-color);
}

.sidebar {
	@apply text-sm p-3 m-0;
	flex: 0 0 25%;
	max-width: 250px;
}

main {
	font-size: 1rem;
	flex: 1 0 70%;
	margin: 0;
	padding: 20px 10px;
}

.content {
	font-size: 1rem;
	margin: 0 0 30px;
}

.sidebar h4 {
	margin: 0 0 5px;
}

.sidebar-component {
	border-radius: 4px;
	margin: 0 0 20px;
	padding: 5px 7px;
}

.align-left {
	text-align: left;
}

.responsive {
	overflow-x: auto;
	overflow-y: hidden;
	width: auto;
	padding: 3px;
	white-space: nowrap;
	border-radius: 4px;
}

.table-wrapper {
	border-radius: 4px;
	border: 1px solid var(--table-outer-border-color);
	width: min-content;
	margin: 0 0 auto 0;
}

table {
	@apply text-sm w-auto table-auto whitespace-nowrap my-0 mx-auto;
}

tr.table-header {
	color: var(--table-col-header-color);
	@apply text-xl font-normal text-left leading-normal m-0 p-0;
}

tr.table-header th {
	background-color: var(--page-bg-color);
	border-top: none;
	border-left: none;
	border-bottom: 1px solid var(--table-outer-border-color);
	border-right: none;
}

tr:nth-child(even) {
	background-color: var(--table-body-bg-color-even);
}

tr:nth-child(odd) {
	background-color: var(--table-body-bg-color-odd);
}

th,
td {
	padding: 3px 5px;
}

td {
	border-top: none;
	border-left: 1px solid var(--table-inner-border-vert-color);
}

/* td:first-child {
	border-left: 1px solid var(--table-outer-border-color);
}

td:last-child {
	border-right: 1px solid var(--table-outer-border-color);
}

tr:last-child td {
	border-bottom: 1px solid var(--table-outer-border-color);
} */

td.num-stat,
th.num-stat {
	text-align: center;
}

th {
	font-weight: 700;
	color: var(--table-col-header-color);
	background-color: var(--table-col-header-bg-color);
	/* border-top: 1px solid var(--table-outer-border-color); */
	border-left: none;
	border-bottom: 1px solid var(--table-col-header-bottom-border);
	border-right: none;
}

div.col-header {
	font-weight: 700;
	color: var(--table-col-header-color);
	background-color: var(--table-col-header-bg-color);
}

/* th:first-child {
	border-left: 1px solid var(--table-outer-border-color);
}

th:last-child {
	border-right: 1px solid var(--table-outer-border-color);
} */

input {
	@apply border border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent;
}

.btn {
	@apply py-1 px-2 rounded-md shadow-md;
}

.btn-round {
	@apply uppercase p-0.5 flex items-center max-w-max shadow-sm hover:shadow-lg rounded-full w-4 h-4;
}

.btn-primary {
	@apply transition duration-300 ease-in-out focus:outline-none bg-indigo-700 hover:bg-indigo-900 text-white font-normal mr-1 rounded;
}

.btn-outline-primary {
	@apply transition duration-300 ease-in-out focus:outline-none border border-indigo-700 hover:bg-indigo-700 text-indigo-700 hover:text-white font-normal rounded;
}

.btn-group {
	@apply text-sm flex flex-row flex-nowrap justify-center flex-grow-0;
}

.btn-group > button {
	@apply rounded-none m-0;
}

.btn-group > button:first-child {
	@apply rounded-tl-md rounded-bl-md rounded-tr-none rounded-br-none;
}

.btn-group > button:last-child {
	@apply rounded-tl-none rounded-bl-none rounded-tr-md rounded-br-md;
}

.datatable {
	background: var(--site-bg-color);
}

.datatable .dt-search {
	margin-left: 16px;
}
.datatable .dt-search input {
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	outline: none;
	padding: 0 8px;
	line-height: 24px;
	margin: 0;
	height: 24px;
	background: transparent;
	width: 176px;
	transition: all, 0.1s;
}
.datatable .dt-search input:focus {
	border: 2px solid #e0e0e0;
}
.datatable .dt-search input::placeholder {
	color: #9e9e9e;
	line-height: 24px;
}

.datatable thead:not([style*='hidden']) th {
	padding: 2px 0px 2px 4px;
	text-align: center;
	border-bottom: 1px solid hsl(0, 0%, 20%);
	background: var(--site-bg-color);
}
.datatable .dt-table th.sortable {
	cursor: pointer;
}
.datatable .dt-table th.sortable span {
	padding-right: 16px;
	position: relative;
}
.datatable .dt-table th.sortable span:before,
.datatable .dt-table th.sortable span:after {
	border: 4px solid transparent;
	content: '';
	display: block;
	height: 0;
	right: 0;
	top: 50%;
	position: absolute;
	width: 0;
}
.datatable .dt-table th.sortable span:before {
	border-bottom-color: #e0e0e0;
	margin-top: -9px;
}
.datatable .dt-table th.sortable span:after {
	border-top-color: #e0e0e0;
	margin-top: 1px;
}
.datatable .dt-table th.sortable.asc:not(.desc) span:before {
	border-bottom-color: #9e9e9e;
}
.datatable .dt-table th.sortable.desc:not(.asc) span:after {
	border-top-color: #9e9e9e;
}
.datatable .dt-table th.filter {
	padding: 0;
	margin: 0;
	background-image: none;
	border: 1px solid #fafafa;
}
.datatable .dt-table th.filter input {
	background: var(--site-bg-color);
	height: 24px;
	border: none;
	border-bottom: 1px solid #eee;
	text-align: center;
	outline: none;
	border-radius: 0;
	font-size: 14px;
}
.datatable .dt-table th.filter input::placeholder {
	color: #bdbdbd;
	font-style: italic;
	font-size: 13px;
}

.datatable .dt-table {
	border-bottom: 1px solid #e0e0e0;
	scrollbar-width: thin;
}
.datatable .dt-table::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.datatable .dt-table::-webkit-scrollbar-track {
	background: #f5f5f5;
}
.datatable .dt-table::-webkit-scrollbar-thumb {
	background: #c2c2c2;
}
.datatable .dt-table::-webkit-scrollbar-thumb:hover {
	background: #9e9e9e;
}
.datatable .dt-table::-webkit-scrollbar-track-piece:start {
	top: 40px;
}
.datatable .dt-table table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	margin-bottom: 6px;
}

.datatable .dt-pagination {
	background: var(--site-bg-color);
}

.datatable .dt-pagination-buttons {
	height: 32px;
	margin-right: 16px;
}
.datatable .dt-pagination-buttons button {
	background: inherit;
	height: 32px;
	width: 32px;
	color: #616161;
	font-size: 13px;
	margin: 0;
	padding: 0;
	transition: all, 0.2s;
	line-height: 32px;
	border: 1px solid #e0e0e0;
	border-right: none;
	outline: none;
}
.datatable .dt-pagination-buttons button:first-child {
	border-radius: 4px 0 0 4px;
}
.datatable .dt-pagination-buttons button:last-child {
	border-right: 1px solid #e0e0e0;
	border-radius: 0 4px 4px 0;
}
.datatable .dt-pagination-buttons button:not(.active):hover {
	background: #eee;
	cursor: pointer;
}
.datatable .dt-pagination-buttons button.text {
	width: auto;
	min-width: 70px;
	cursor: pointer;
}
.datatable .dt-pagination-buttons button.ellipse:hover {
	background: inherit;
	cursor: default;
}
.datatable .dt-pagination-buttons button.active {
	background: #eee;
	font-weight: bold;
}
.datatable .dt-pagination-buttons button.disabled:hover {
	background: inherit;
	cursor: default;
}
.datatable .dt-pagination-buttons.mobile button.disabled {
	color: #bdbdbd;
}
.datatable .dt-pagination-buttons.mobile button {
	font-weight: bold;
}

.datatable .dt-pagination-rowcount {
	color: #616161;
	line-height: 32px;
	margin-left: 16px;
	font-size: 14px;
}
