/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Color Pallette */

	--rich-black1: hsl(226, 27%, 5%);
	--rich-black2: hsl(226, 27%, 10%);
	--rich-black3: hsl(226, 27%, 13%);
	--rich-black4: hsl(226, 27%, 15%);

	--black4: hsl(0, 0%, 0%);
	--black3: hsl(0, 0%, 5%);
	--black2: hsl(0, 0%, 10%);
	--black1: hsl(0, 0%, 15%);

	--dark-gray4: hsl(0, 0%, 20%);
	--dark-gray3: hsl(0, 0%, 25%);
	--dark-gray2: hsl(0, 0%, 30%);
	--dark-gray1: hsl(0, 0%, 35%);

	--gray4: hsl(0, 0%, 40%);
	--gray3: hsl(0, 0%, 45%);
	--gray2: hsl(0, 0%, 50%);
	--gray1: hsl(0, 0%, 60%);

	--light-gray4: hsl(0, 0%, 65%);
	--light-gray3: hsl(0, 0%, 70%);
	--light-gray2: hsl(0, 0%, 75%);
	--light-gray1: hsl(0, 0%, 80%);

	--white1: hsl(0, 0%, 85%); /* gray-300 */
	--white2: hsl(0, 0%, 90%);
	--white3: hsl(0, 0%, 95%); /* THEME */
	--white4: hsl(0, 0%, 100%);

	--red1: hsl(2, 100%, 35%);
	--red2: hsl(2, 100%, 45%);
	--red3: hsl(2, 100%, 55%);

	--orange1: hsl(25, 100%, 35%);
	--orange2: hsl(25, 100%, 45%);
	--orange3: hsl(25, 100%, 55%);

	--yellow1: hsl(58, 32%, 44%);
	--yellow2: hsl(57, 88%, 54%);
	--yellow3: hsl(57, 88%, 64%);

	--yellow-green1: hsl(84, 100%, 35%);
	--yellow-green2: hsl(84, 100%, 45%);
	--yellow-green3: hsl(84, 100%, 55%);

	--green1: hsl(113, 100%, 20%);
	--green2: hsl(113, 100%, 30%);
	--green3: hsl(113, 100%, 40%);

	--blue-green1: hsl(165, 96%, 39%);
	--blue-green2: hsl(165, 96%, 49%); /* THEME */
	--blue-green3: hsl(165, 96%, 79%);

	--dark-teal1: hsl(179, 100%, 15%);
	--dark-teal2: hsl(179, 100%, 25%);

	--teal1: hsl(179, 100%, 35%);
	--teal2: hsl(179, 100%, 45%);
	--teal3: hsl(179, 100%, 55%);

	--blue1: hsl(218, 100%, 25%);
	--blue2: hsl(218, 100%, 35%);
	--blue3: hsl(218, 100%, 45%);
	--blue4: hsl(218, 100%, 55%);

	--blue-gray0: hsl(221, 39%, 11%); /* gray-900 */
	--blue-gray1: hsl(215, 28%, 17%); /* gray-800 */
	--blue-gray2: hsl(217, 19%, 27%); /* gray-700 */
	--blue-gray4: hsl(220, 10%, 46%); /* gray-500 */

	--indigo1: hsl(251, 74%, 30%);
	--indigo2: hsl(251, 74%, 40%); /* THEME */
	--indigo3: hsl(251, 74%, 50%);

	--purple1: hsl(290, 100%, 35%);
	--purple2: hsl(290, 100%, 45%);
	--purple3: hsl(290, 100%, 55%);

	--pink1: hsl(315, 100%, 35%);
	--pink2: hsl(315, 100%, 45%);
	--pink3: hsl(315, 100%, 55%);

	/* Team Colors */

	--ari-warm: hsl(350, 74%, 38%);
	--ari-cold: hsl(0, 0%, 0%);
	--ari-pri: var(--ari-warm);

	--atl-warm: hsl(345, 85%, 44%);
	--atl-cold: hsl(220, 61%, 19%);
	--atl-pri: var(--atl-cold);

	--bal-warm: hsl(19, 99%, 44%);
	--bal-cold: hsl(0, 0%, 0%);
	--bal-pri: var(--bal-warm);

	--bos-warm: hsl(356, 59%, 46%);
	--bos-cold: hsl(221, 55%, 22%);
	--bos-pri: var(--bos-cold);

	--chw-warm: hsl(203, 16%, 80%);
	--chw-cold: hsl(0, 0%, 0%);
	--chw-pri: var(--chw-cold);

	--chc-warm: hsl(0, 60%, 50%);
	--chc-cold: hsl(222, 81%, 29%);
	--chc-pri: var(--chc-cold);

	--cin-warm: hsl(351, 99%, 39%);
	--cin-cold: hsl(0, 0%, 0%);
	--cin-pri: var(--cin-warm);

	--cle-warm: hsl(351, 80%, 49%);
	--cle-cold: hsl(221, 55%, 23%);
	--cle-pri: var(--cle-cold);

	--col-warm: hsl(268, 100%, 22%);
	--col-cold: hsl(0, 0%, 0%);
	--col-pri: var(--col-warm);

	--det-warm: hsl(20, 89%, 54%);
	--det-cold: hsl(219, 56%, 21%);
	--det-pri: var(--det-warm);

	--hou-warm: hsl(23, 84%, 52%);
	--hou-cold: hsl(212, 100%, 19%);
	--hou-pri: var(--hou-warm);

	--kcr-warm: hsl(37, 45%, 55%);
	--kcr-cold: hsl(213, 71%, 31%);
	--kcr-pri: var(--kcr-warm);

	--laa-warm: hsl(352, 56%, 34%);
	--laa-cold: hsl(210, 100%, 19%);
	--laa-pri: var(--laa-warm);

	--lad-warm: hsl(359, 85%, 59%);
	--lad-cold: hsl(205, 100%, 31%);
	--lad-pri: var(--lad-cold);

	--mia-warm: hsl(24, 100%, 50%);
	--mia-cold: hsl(0, 0%, 0%);
	--mia-pri: var(--mia-warm);

	--mil-warm: hsl(44, 60%, 45%);
	--mil-cold: hsl(219, 78%, 18%);
	--mil-pri: var(--mil-cold);

	--min-warm: hsl(344, 85%, 45%);
	--min-cold: hsl(212, 100%, 18%);
	--min-pri: var(--min-cold);

	--nyy-warm: hsl(200, 15%, 80%);
	--nyy-cold: hsl(221, 58%, 18%);
	--nyy-pri: var(--nyy-cold);

	--nym-warm: hsl(18, 100%, 53%);
	--nym-cold: hsl(216, 100%, 22%);
	--nym-pri: var(--nym-warm);

	--oak-warm: hsl(42, 87%, 53%);
	--oak-cold: hsl(173, 100%, 11%);
	--oak-pri: var(--oak-cold);

	--phi-warm: hsl(355, 82%, 50%);
	--phi-cold: hsl(223, 58%, 38%);
	--phi-pri: var(--phi-warm);

	--pit-warm: hsl(41, 98%, 57%);
	--pit-cold: hsl(0, 0%, 0%);
	--pit-pri: var(--pit-warm);

	--sdp-warm: hsl(196, 6%, 66%);
	--sdp-cold: hsl(212, 100%, 19%);
	--sdp-pri: var(--sdp-cold);

	--sea-warm: hsl(180, 100%, 18%);
	--sea-cold: hsl(214, 76%, 19%);
	--sea-pri: var(--sea-warm);

	--sfg-warm: hsl(16, 98%, 55%);
	--sfg-cold: hsl(0, 0%, 0%);
	--sfg-pri: var(--sfg-warm);

	--stl-warm: hsl(350, 73%, 44%);
	--stl-cold: hsl(242, 50%, 25%);
	--stl-pri: var(--stl-warm);

	--tbr-warm: hsl(209, 64%, 73%);
	--tbr-cold: hsl(215, 82%, 20%);
	--tbr-pri: var(--tbr-cold);

	--tex-warm: hsl(355, 84%, 41%);
	--tex-cold: hsl(215, 100%, 24%);
	--tex-pri: var(--tex-cold);

	--tor-warm: hsl(4, 82%, 51%);
	--tor-cold: hsl(213, 76%, 32%);
	--tor-pri: var(--tor-cold);

	--wsn-warm: hsl(359, 100%, 34%);
	--wsn-cold: hsl(234, 46%, 24%);
	--wsn-pri: var(--wsn-warm);

	/* Pitch Type Colors */

	--pitch-type-FS: var(--pink2);
	--pitch-type-FA: var(--red1);
	--pitch-type-FO: var(--red1);
	--pitch-type-CU: var(--blue4);
	--pitch-type-KC: var(--indigo3);
	--pitch-type-KN: var(--blue3);
	--pitch-type-IN: var(--black4);
	--pitch-type-PO: var(--black4);
	--pitch-type-SC: var(--black4);
	--pitch-type-UN: var(--black4);

	/* At Bat Pitch Location Chart */

	--ploc-chart-size: 280px;
	--papp-chart-size: 560px;
	--ploc-data-point-radius: 6px;
	--ploc-x-min: -3;
	--ploc-x-max: 3;
	--ploc-y-min: -2;
	--ploc-y-max: 5;

	/*
  color: none;
  background-color: none;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
  */
}

html {
	font-size: 14px;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

body {
	font-family: roboto, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	background: var(--page-bg-color);
	color: var(--body-text-color);
	margin: 0;
	line-height: 1.6;

	transition-property: background-color;
	transition-timing-function: ease-in-out;
	transition-duration: 500ms;
}

body.light-mode {
	--pri-color: var(--blue2);
	--pri-color-hov: var(--blue3);
	--pri-color-active: var(--blue1);
	--color-on-pri: var(--white4);
	--color-on-pri-hov: var(--white4);
	--color-on-pri-active: var(--white4);

	--sec-color: var(--green2);
	--sec-color-hov: var(--green3);
	--sec-color-active: var(--green1);
	--color-on-sec: var(--white4);
	--color-on-sec-hov: var(--white4);
	--color-on-sec-active: var(--white4);

	--body-text-color: var(--black3);
	--heading-text-color: var(--black1);
	--site-bg-color: var(--gray1);
	--page-bg-color: var(--light-gray2);
	--spinner-color: var(--sec-color);

	--theme-icon-color: var(--white4);
	--theme-icon-bg-color: var(--blue2);
	--theme-slider-bg-color: var(--page-bg-color);

	--header-bg-color: var(--blue2);
	--nav-icon-color: var(--sec-color-hov);

	--nav-button-bg-color: var(--blue2);
	--nav-button-bg-color-hov: var(--blue3);
	--nav-button-text-color: var(--sec-color-hov);
	--nav-button-text-color-hov: var(--sec-color-hov);

	--nav-link-bg-color: var(--blue2);
	--nav-link-bg-color-hov: var(--blue3);
	--nav-link-bg-color-active: var(--blue1);
	--nav-link-text-color: var(--white4);
	--nav-link-text-color-hov: var(--white4);
	--nav-link-text-color-active: var(--white4);

	--search-icon-color: var(--light-gray4);
	--search-bg-color: var(--blue1);
	--search-bg-color-focus: var(--blue1);
	--search-text-color: var(--white1);
	--search-text-color-focus: var(--white4);
	--search-focus-outline-color: transparent;

	--select-bg-color: var(--white3);
	--select-bg-color-hov: var(--white3);
	--select-text-color: var(--black3);
	--selected-item-bg-color: var(--light-gray2);
	--button-disabled-bg-color: hsla(0, 0%, 20%, 45%);
	--button-disabled-text-color: var(--light-gray4);
	--link-color: var(--blue2);
	--label-color: var(--black1);

	--linescore-row-bg-color: var(--light-gray3);

	--table-caption-color: var(--black1);
	--table-body-color: var(--body-text-color);
	--table-body-bg-color-even: var(--light-gray3);
	--table-body-bg-color-odd: var(--light-gray4);
	--table-body-link-color: var(--link-color);
	--table-body-link-color-hov: var(--blue3);
	--table-col-header-bg-color: var(--blue1);
	--table-col-header-color: var(--white1);
	--table-col-header-bottom-border: var(--black2);
	--table-outer-border-color: var(--blue1);
	--table-inner-border-vert-color: var(--gray1);
	--table-inner-border-horiz-color: var(--light-gray4);

	--modal-title-bar-bg-color: var(--black1);
	--player-results-modal-button-color: var(--link-color);
	--player-results-modal-button-color-hov: var(--blue3);

	--player-card-bg-color: var(--white1);
	--player-card-border-color: var(--pri-color);
	--player-card-heading-text-color: var(--black3);
	--player-card-text-color: var(--black1);
	--player-card-text-color-hov: var(--black3);

	--player-details-label-color: var(--black3);
	--player-details-text-color: var(--black1);

	--game-result-bg-color: var(--white1);
	--game-result-border-color: var(--pri-color);

	--section-content-header-bg-color: var(--blue1);
	--section-content-header-text-color: var(--sec-color-hov);
	--section-content-bg-color: var(--white1);
	--section-content-border-color: var(--blue1);

	--pseq-top-bg-color: var(--gray1);
	--pseq-bottom-bg-color: var(--gray1);
	--pseq-legend-bg-color: var(--blue1);
	--pseq-legend-text-color: var(--white3);
	--pseq-outer-border-color: var(--black4);
	--ploc-chart-bg-color: var(--light-gray3);
	--ploc-grid-color: var(--blue-gray4);
	--ploc-axis-text-color: var(--black4);
	--ploc-pitch-num-color: var(--black4);
	--ploc-pitch-num-font-weight: 700;
	--ploc-outer-border-color: var(--black4);
	--strike-zone-border-color: var(--dark-gray1);

	--pitch-type-percentiles-bg-color: var(--light-gray3);
	--pitch-type-percentiles-text-color: var(--black4);
	--pitch-type-percentiles-border-color: var(--table-col-header-bg-color);

	--pitch-type-FF: var(--red1);
	--pitch-type-FT: var(--pink1);
	--pitch-type-FC: var(--orange1);
	--pitch-type-CH: var(--dark-teal1);
	--pitch-type-SI: var(--green1);
	--pitch-type-SL: var(--dark-teal2);
	--pitch-type-EP: var(--dark-gray4);

	--sdp-bg-color: var(--light-gray3);
	--sdp-current-month: var(--light-gray4);
	--sdb-disabled-date-color: var(--dark-gray1);
	--sdp-header-bg-color: var(--white1);
	--sdp-color-grey-400: var(--sec-color);
	--sdp-accent-color: var(--pri-color);
	--sdp-bg-focus-color: var(--pri-color);
	--sdp-bg-active-color: var(--pri-color);
	--sdp-bg-selected-color: var(--pri-color);

	--team-stat-filter-bg-color: var(--light-gray4);
	--team-stat-filter-border-color: var(--blue1);
}

body.dark-mode {
	--pri-color: var(--indigo2);
	--pri-color-hov: var(--indigo3);
	--pri-color-active: var(--indigo1);
	--color-on-pri: var(--white1);
	--color-on-pri-hov: var(--white3);
	--color-on-pri-active: var(--white3);

	--sec-color: var(--blue-green2);
	--sec-color-hov: var(--blue-green3);
	--sec-color-active: var(--blue-green1);
	--color-on-sec: var(--black3);
	--color-on-sec-hov: var(--black3);
	--color-on-sec-active: var(--black3);

	--body-text-color: var(--white1);
	--heading-text-color: var(--white3);
	--site-bg-color: var(--gray1);
	--page-bg-color: var(--rich-black3);
	--spinner-color: var(--sec-color);

	--theme-icon-color: var(--white4);
	--theme-icon-bg-color: var(--header-bg-color);
	--theme-slider-bg-color: var(--nav-link-bg-color-active);

	--header-bg-color: var(--rich-black2);
	--nav-icon-color: var(--sec-color);

	--nav-button-bg-color: var(--rich-black2);
	--nav-button-bg-color-hov: var(--rich-black3);
	--nav-button-text-color: var(--sec-color);
	--nav-button-text-color-hov: var(--sec-color);

	--search-icon-color: var(--light-gray4);
	--search-bg-color: var(--black3);
	--search-bg-color-focus: var(--black1);
	--search-text-color: var(--blue-gray1);
	--search-text-color-focus: var(--white3);
	--search-focus-outline-color: transparent;

	--nav-link-bg-color: var(--rich-black2);
	--nav-link-bg-color-hov: var(--pri-color);
	--nav-link-bg-color-active: var(--pri-color-active);
	--nav-link-text-color: var(--white2);
	--nav-link-text-color-hov: var(--white2);
	--nav-link-text-color-active: var(--white3);

	--select-bg-color: var(--gray1);
	--select-bg-color-hov: var(--light-gray2);
	--select-text-color: var(--black3);
	--selected-item-bg-color: var(--light-gray2);
	--button-disabled-bg-color: hsla(0, 0%, 45%, 45%);
	--button-disabled-text-color: var(--black1);
	--link-color: var(--sec-color);
	--label-color: var(--sec-color);

	--linescore-row-bg-color: var(--gray1);

	--table-caption-color: var(--white3);
	--table-body-color: var(--black3);
	--table-body-bg-color-even: var(--gray2);
	--table-body-bg-color-odd: var(--gray3);
	--table-body-link-color: var(--pri-color);
	--table-body-link-color-hov: var(--pri-color-hov);
	--table-col-header-bg-color: var(--indigo1);
	--table-col-header-color: var(--white3);
	--table-col-header-bottom-border: var(--black2);
	--table-outer-border-color: var(--indigo1);
	--table-inner-border-vert-color: var(--dark-gray2);
	--table-inner-border-horiz-color: var(--gray4);

	--modal-title-bar-bg-color: var(--header-bg-color);
	--player-results-modal-button-color: var(--indigo2);
	--player-results-modal-button-color-hov: var(--indigo3);

	--player-card-bg-color: var(--rich-black4);
	--player-card-border-color: var(--pri-color);
	--player-card-heading-text-color: var(--white3);
	--player-card-text-color: var(--white1);
	--player-card-text-color-hov: var(--white3);

	--player-details-label-color: var(--white3);
	--player-details-text-color: var(--light-gray1);

	--game-result-bg-color: var(--rich-black2);
	--game-result-border-color: var(--pri-color);

	--section-content-header-bg-color: var(--indigo1);
	--section-content-header-text-color: var(--sec-color);
	--section-content-bg-color: var(--rich-black2);
	--section-content-border-color: var(--indigo1);

	--pseq-top-bg-color: var(--indigo1);
	--pseq-bottom-bg-color: var(--indigo1);
	--pseq-legend-bg-color: var(--rich-black1);
	--pseq-legend-text-color: var(--white1);
	--pseq-outer-border-color: var(--indigo1);
	--ploc-chart-bg-color: var(--rich-black1);
	--ploc-grid-color: var(--dark-gray4);
	--ploc-axis-text-color: var(--white2);
	--ploc-pitch-num-color: var(--white1);
	--ploc-pitch-num-font-weight: 400;
	--ploc-outer-border-color: var(--indigo1);
	--strike-zone-border-color: var(--gray4);

	--pitch-type-percentiles-bg-color: var(--rich-black2);
	--pitch-type-percentiles-text-color: var(--white3);
	--pitch-type-percentiles-border-color: var(--indigo1);

	--pitch-type-FF: var(--red2);
	--pitch-type-FT: var(--pink3);
	--pitch-type-FC: var(--orange2);
	--pitch-type-CH: var(--teal1);
	--pitch-type-SI: var(--yellow-green1);
	--pitch-type-SL: var(--blue-green1);
	--pitch-type-EP: var(--light-gray1);

	--sdp-bg-color: var(--rich-black2);
	--sdp-current-month: var(--rich-black3);
	--sdb-disabled-date-color: var(--light-gray1);
	--sdp-header-bg-color: var(--rich-black2);
	--sdp-color-grey-400: var(--sec-color);
	--sdp-accent-color: var(--pri-color);
	--sdp-bg-focus-color: var(--pri-color);
	--sdp-bg-active-color: var(--pri-color);
	--sdp-bg-selected-color: var(--pri-color);

	--team-stat-filter-bg-color: var(--rich-black2);
	--team-stat-filter-border-color: var(--pri-color);
}

[data-pitch-type='FF'] {
	color: var(--pitch-type-FF);
	border: 1px solid var(--pitch-type-FF);
}

[data-pitch-type='FT'] {
	color: var(--pitch-type-FT);
	border: 1px solid var(--pitch-type-FT);
}

[data-pitch-type='FC'] {
	color: var(--pitch-type-FC);
	border: 1px solid var(--pitch-type-FC);
}

[data-pitch-type='FS'] {
	color: var(--pitch-type-FS);
	border: 1px solid var(--pitch-type-FS);
}

[data-pitch-type='FA'] {
	color: var(--pitch-type-FA);
	border: 1px solid var(--pitch-type-FA);
}

[data-pitch-type='FO'] {
	color: var(--pitch-type-FO);
	border: 1px solid var(--pitch-type-FO);
}

[data-pitch-type='CH'] {
	color: var(--pitch-type-CH);
	border: 1px solid var(--pitch-type-CH);
}

[data-pitch-type='CU'] {
	color: var(--pitch-type-CU);
	border: 1px solid var(--pitch-type-CU);
}

[data-pitch-type='EP'] {
	color: var(--pitch-type-EP);
	border: 1px solid var(--pitch-type-EP);
}

[data-pitch-type='KC'] {
	color: var(--pitch-type-KC);
	border: 1px solid var(--pitch-type-KC);
}

[data-pitch-type='KN'] {
	color: var(--pitch-type-KN);
	border: 1px solid var(--pitch-type-KN);
}

[data-pitch-type='SI'] {
	color: var(--pitch-type-SI);
	border: 1px solid var(--pitch-type-SI);
}

[data-pitch-type='SL'] {
	color: var(--pitch-type-SL);
	border: 1px solid var(--pitch-type-SL);
}

[data-pitch-type='IN'] {
	color: var(--pitch-type-IN);
	border: 1px solid var(--pitch-type-IN);
}

[data-pitch-type='PO'] {
	color: var(--pitch-type-PO);
	border: 1px solid var(--pitch-type-PO);
}

[data-pitch-type='SC'] {
	color: var(--pitch-type-SC);
	border: 1px solid var(--pitch-type-SC);
}

[data-pitch-type='UN'] {
	color: var(--pitch-type-UN);
	border: 1px solid var(--pitch-type-UN);
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-color);
	text-decoration: underline;
}

p {
	@apply mt-0 mb-4 text-base font-light leading-relaxed;
}

h1 {
	color: var(--heading-text-color);
	@apply mt-0 mb-2 text-4xl font-normal leading-normal;
}

h2 {
	color: var(--heading-text-color);
	@apply mt-0 mb-2 text-3xl font-normal leading-normal;
}

h3 {
	color: var(--heading-text-color);
	@apply mt-0 mb-2 text-2xl font-normal leading-normal;
}

h4 {
	color: var(--heading-text-color);
	@apply mt-0 mb-2 text-xl font-normal leading-normal;
}

h5 {
	color: var(--heading-text-color);
	@apply mt-0 mb-2 text-lg font-normal leading-normal;
}

h6 {
	color: var(--heading-text-color);
	@apply mt-0 mb-2 text-base font-normal leading-normal;
}

mark {
	background-color: var(--sec-color);
	color: var(--color-on-sec);
}

.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.container {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	background-color: var(--page-bg-color);
	box-shadow: none;
}

nav {
	background-color: var(--header-bg-color);
}

label {
	color: var(--label-color);
}

.content {
	font-size: 1rem;
	margin: 0 0 30px;
}

.error {
	margin: auto;
	color: var(--sec-color);
}

.align-left {
	text-align: left;
}

/* Responsive Tables */

.resp-table {
	display: table;
	overflow-x: auto;
	white-space: nowrap;
	color: var(--table-body-color);
	margin-bottom: 1rem;
}

.resp-table-caption {
	display: table-caption;
	color: var(--table-caption-color);
	font-size: 1.25rem;
	line-height: 1.75rem;
	white-space: nowrap;
	margin-top: 20px;
}

.resp-table-header {
	display: table-header-group;
}

.table-header-cell {
	display: table-cell;
	text-align: center;
	color: var(--table-col-header-color);
	background-color: var(--table-col-header-bg-color);
}

.resp-table-header:first-child .table-header-cell:first-child,
.col-header .table-header-cell:first-child {
	border-top-left-radius: 4px;
}

.resp-table-header:first-child .table-header-cell:last-child,
.col-header .table-header-cell:last-child {
	border-top-right-radius: 4px;
}

.resp-table-body .table-header-cell,
.col-header .table-header-cell {
	border-top: 1px solid var(--table-outer-border-color);
}

.resp-table-body {
	display: table-row-group;
}

.resp-table-body a {
	color: var(--table-body-link-color);
}

.resp-table-body a:hover {
	color: var(--table-body-link-color-hov);
}

.resp-table-row {
	display: table-row;
}

.resp-table-row:nth-child(even) {
	background-color: var(--table-body-bg-color-even);
}

.resp-table-row:nth-child(odd) {
	background-color: var(--table-body-bg-color-odd);
}

.table-body-cell {
	display: table-cell;
	border-top: none;
	border-left: 1px solid var(--table-inner-border-vert-color);
}

.resp-table .num {
	text-align: right;
}

.table-header-cell,
.table-body-cell {
	padding: 3px 5px;
}

.table-body-cell:first-child,
.resp-table-header:first-child .table-header-cell:first-child,
.col-header .table-header-cell:first-child {
	border-left: 1px solid var(--table-outer-border-color);
}

.table-body-cell:last-child,
.resp-table-header:first-child .table-header-cell:last-child,
.col-header .table-header-cell:last-child {
	border-right: 1px solid var(--table-outer-border-color);
}

.resp-table-row:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.resp-table-row:last-child .table-body-cell {
	border-bottom: 1px solid var(--table-outer-border-color);
}

.resp-table-row:last-child .table-body-cell:first-child {
	border-bottom-left-radius: 4px;
}

.resp-table-row:last-child .table-body-cell:last-child {
	border-bottom-right-radius: 4px;
}

.resp-table-footer {
	display: table-footer-group;
}

.table-footer-cell {
	display: table-cell;
	text-align: justify;
	background-color: var(--page-bg-color);
}

#game-summary,
#team-stat-tables,
#play-by-play {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	margin: 0 auto;
}

#team-stat-tables .resp-table,
#game-summary .linescore,
#play-by-play .resp-table {
	@apply text-xs;
	margin: 0;
	width: 100%;
}

#team-stat-tables .resp-table-caption {
	@apply text-lg;
	white-space: nowrap;
	margin-top: 20px;
}

#play-by-play .at-bat:hover {
	@apply bg-yellow-100;
}

#play-by-play .inning-begin {
	white-space: nowrap;
	font-style: italic;
	color: var(--body-text-color);
	background-color: var(--page-bg-color);
	text-align: left;
	display: table-cell;
	padding: 3px 5px;
}

#play-by-play .inning-end {
	font-style: italic;
	text-align: right;
	display: table-cell;
	color: var(--body-text-color);
	background-color: var(--page-bg-color);
	padding: 3px 5px;
}

#play-by-play .table-body-cell {
	cursor: pointer;
}

.responsive {
	overflow-x: auto;
	white-space: nowrap;
}

.responsive-vert {
	overflow-x: auto;
	overflow-y: auto;
	width: auto;
	padding: 3px;
	white-space: nowrap;
}

.responsive h4 {
	margin: 30px 0 0 0;
}

.show-on-mobile {
	display: table-cell;
}

.hide-on-mobile {
	display: none;
}

table {
	@apply w-auto m-0 text-sm table-auto whitespace-nowrap;
	color: var(--table-body-color);
}

tr.table-header {
	color: var(--table-col-header-color);
	@apply p-0 m-0 text-xl font-normal leading-normal text-left;
}

tr.table-header th {
	background-color: var(--page-bg-color);
	border: none;
}

tbody tr:nth-child(even) {
	background-color: var(--table-body-bg-color-even);
}

tbody tr:nth-child(odd) {
	background-color: var(--table-body-bg-color-odd);
}

th,
td {
	padding: 3px 5px;
}

td {
	border-top: none;
	border-left: 1px solid var(--table-inner-border-vert-color);
}

td:first-child {
	border-left: 1px solid var(--table-outer-border-color);
}

td:last-child {
	border-right: 1px solid var(--table-outer-border-color);
}

tr:last-child td {
	border-bottom: 1px solid var(--table-outer-border-color);
}

thead tr:first-child th:first-child,
li:first-child .col-header {
	border-top-left-radius: 4px;
}

thead tr:first-child th:last-child,
li:last-child .col-header {
	border-top-right-radius: 4px;
}

tbody tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}

tbody tr:last-child td:last-child {
	border-bottom-right-radius: 4px;
}

.num-stat {
	text-align: right;
}

.division-name,
.league-standings .col-headers td {
	color: var(--table-col-header-color);
	background-color: var(--table-col-header-bg-color);
	border: none;
}

thead th,
tbody th {
	border-top: 1px solid var(--table-outer-border-color);
}

thead th:first-child {
	border-left: 1px solid var(--table-outer-border-color);
}

thead th:last-child {
	border-right: 1px solid var(--table-outer-border-color);
}

tfoot td {
	background-color: var(--page-bg-color);
}

.col-header {
	color: var(--table-col-header-color);
	background-color: var(--table-col-header-bg-color);
}

input {
	@apply border border-transparent focus:outline-none focus:ring-2 focus:ring-gray-800;
}

.btn {
	@apply px-2 py-1 mr-1 font-normal rounded shadow-md focus:outline-none;
}

.btn.active {
	@apply cursor-default;
}

.btn.disabled {
	@apply text-gray-500 bg-current border-gray-500;
}

button:disabled,
button:disabled:hover,
.btn-group > button:disabled,
.btn-group > button:disabled:hover,
.btn-group > button:last-child:disabled,
.btn-group > button:last-child:disabled:hover {
	color: var(--button-disabled-text-color);
	background-color: var(--button-disabled-bg-color);
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-right: 1px solid transparent;
	cursor: default;
}

.btn-round {
	@apply flex items-center uppercase rounded-full shadow-sm max-w-max hover:shadow-lg;
}

.btn-primary {
	background: var(--pri-color);
	color: var(--color-on-pri);
}

.btn-primary:hover {
	background-color: var(--pri-color-hov);
	color: var(--color-on-pri-hov);
}

.btn-primary.active {
	background-color: var(--pri-color-active);
	color: var(--color-on-pri-active);
}

.btn-outline-primary {
	background-color: var(--section-content-bg-color);
	color: var(--pri-color);
	border: 1px solid var(--pri-color);
}

.btn-outline-primary:hover {
	background-color: var(--pri-color-hov);
	color: var(--color-on-pri-hov);
	border: 1px solid transparent;
}

.btn-secondary {
	background: var(--sec-color);
	color: var(--color-on-sec);
}

.btn-secondary:hover {
	background-color: var(--sec-color-hov);
	color: var(--color-on-sec-hov);
}

.btn-secondary.active {
	background-color: var(--sec-color-active);
	color: var(--color-on-sec-active);
}

.btn-outline-secondary {
	background-color: var(--section-content-bg-color);
	color: var(--sec-color);
	border: 1px solid var(--sec-color);
}

.btn-outline-secondary:hover {
	background-color: var(--sec-color-hov);
	color: var(--color-on-sec-hov);
	border: 1px solid transparent;
}

.btn-outline-secondary.active {
	background-color: var(--sec-color-active);
	color: var(--color-on-sec-active);
}

.btn-group {
	@apply flex flex-row justify-center flex-grow-0 flex-nowrap;
}

.btn-group > button {
	@apply m-0 rounded-none;
}

.btn-group-primary > button {
	border-top: 1px solid var(--pri-color);
	border-bottom: 1px solid var(--pri-color);
	border-left: 1px solid var(--pri-color);
	border-right: none;
}

.btn-group-secondary > button {
	border-top: 1px solid var(--sec-color);
	border-bottom: 1px solid var(--sec-color);
	border-left: 1px solid var(--sec-color);
	border-right: none;
}

.btn-group > button:hover,
.btn-group > button.active,
.btn-group > button.active:hover {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: none;
}

.btn-group-secondary > button.active {
	border-top: 1px solid var(--sec-color-active);
	border-bottom: 1px solid var(--sec-color-active);
	border-left: 1px solid var(--sec-color-active);
	border-right: none;
}

.btn-group > button:first-child {
	@apply rounded-tr-none rounded-br-none rounded-tl-md rounded-bl-md;
}

.btn-group > button:last-child {
	@apply rounded-tl-none rounded-bl-none rounded-tr-md rounded-br-md;
}

.btn-group-primary > button:last-child {
	border-right: 1px solid var(--pri-color);
}

.btn-group-secondary > button:last-child {
	border-right: 1px solid var(--sec-color);
}

.btn-group > button:last-child:hover {
	border-right: 1px solid transparent;
}

.datatable {
	border-radius: 4px;
	border: none;
}

.datatable th {
	color: var(--table-col-header-color);
	font-weight: 400;
}

.datatable .dt-search {
	margin-left: 16px;
}
.datatable .dt-search input {
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	outline: none;
	padding: 0 8px;
	line-height: 24px;
	margin: 0;
	height: 24px;
	background: transparent;
	width: 176px;
	transition: all, 0.1s;
}
.datatable .dt-search input:focus {
	border: 2px solid #e0e0e0;
}
.datatable .dt-search input::placeholder {
	color: #9e9e9e;
	line-height: 24px;
}

.datatable thead:not([style*='hidden']) th {
	padding: 4px 4px 4px 8px;
	text-align: center;
	border-bottom: none;
	background: var(--table-col-header-bg-color);
}

.datatable .dt-table th.sortable {
	cursor: pointer;
}

.datatable .dt-table th.sortable span {
	padding-right: 16px;
	position: relative;
}
.datatable .dt-table th.sortable span:before,
.datatable .dt-table th.sortable span:after {
	border: 4px solid transparent;
	content: '';
	display: block;
	height: 0;
	right: 0;
	top: 50%;
	position: absolute;
	width: 0;
}
.datatable .dt-table th.sortable span:before {
	border-bottom-color: var(--table-col-header-color);
	margin-top: -9px;
}
.datatable .dt-table th.sortable span:after {
	border-top-color: var(--table-col-header-color);
	margin-top: 1px;
}
.datatable .dt-table th.sortable.asc:not(.desc) span:before {
	border-bottom-color: var(--table-col-header-color);
}
.datatable .dt-table th.sortable.desc:not(.asc) span:after {
	border-top-color: var(--table-col-header-color);
}
.datatable .dt-table th.filter {
	padding: 0;
	margin: 0;
	background-image: none;
	border: 1px solid #fafafa;
}
.datatable .dt-table th.filter input {
	background: #fff;
	height: 24px;
	border: none;
	border-bottom: 1px solid #eee;
	text-align: center;
	outline: none;
	border-radius: 0;
	font-size: 14px;
}
.datatable .dt-table th.filter input::placeholder {
	color: #bdbdbd;
	font-style: italic;
	font-size: 13px;
}

.datatable .dt-table::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}
.datatable .dt-table::-webkit-scrollbar-track {
	background: transparent;
}
.datatable .dt-table::-webkit-scrollbar-thumb {
	background: transparent;
}
.datatable .dt-table::-webkit-scrollbar-thumb:hover {
	background: transparent;
}
.datatable .dt-table::-webkit-scrollbar-track-piece:start {
	top: 40px;
}

#team-bat-stats .datatable,
#team-pitch-stats .datatable {
	border-radius: 4px;
	border: none;
	background: var(--page-bg-color);
}

#team-bat-stats .datatable .dt-table,
#team-pitch-stats .datatable .dt-table {
	border-bottom: none;
	scrollbar-width: thin;
	border-radius: 4px;
}

#team-bat-stats .datatable table,
#team-pitch-stats .datatable table {
	@apply text-xs;
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	margin-bottom: 0;
}

#team-bat-stats tbody tr td,
#team-pitch-stats tbody tr td {
	text-align: right;
}

#team-bat-stats tbody tr td:first-child,
#team-pitch-stats tbody tr td:first-child {
	text-align: center;
}

.datatable thead tr:first-child th {
	border-top: 1px solid var(--table-outer-border-color);
}

.datatable thead tr th:first-child,
.datatable tbody tr td:first-child {
	border-left: 1px solid var(--table-outer-border-color);
}

.datatable thead tr th:last-child,
.datatable tbody tr td:last-child {
	border-right: 1px solid var(--table-outer-border-color);
}

.datatable tbody tr:last-child td {
	border-bottom: 1px solid var(--table-outer-border-color);
}

.datatable thead tr:last-child th:first-child {
	border-top-left-radius: 4px;
}

.datatable thead tr:last-child th:last-child {
	border-top-right-radius: 4px;
}

.datatable tbody tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}

.datatable tbody tr:last-child td:last-child {
	border-bottom-right-radius: 4px;
}

#team-bat-stats .datatable .dt-pagination,
#team-pitch-stats .datatable .dt-pagination {
	@apply p-0 mx-0 mt-2 mb-0;
	background: var(--page-bg-color);
	align-items: flex-start;
}

#team-bat-stats .datatable .dt-pagination-buttons,
#team-pitch-stats .datatable .dt-pagination-buttons,
.dt-pagination-buttons,
.rows-per-page {
	font-size: 0.875rem;
	position: relative;
	margin-right: 0;
}

#team-bat-stats .datatable .dt-pagination-buttons button,
#team-pitch-stats .datatable .dt-pagination-buttons button,
.dt-pagination-buttons button {
	@apply px-2 py-1 m-0 font-normal transition duration-300 ease-in-out shadow-md focus:outline-none;
	line-height: inherit;
}

#team-bat-stats .datatable .dt-pagination-buttons button,
#team-pitch-stats .datatable .dt-pagination-buttons button,
.dt-pagination-buttons button.btn-secondary,
.rows-per-page button.btn-secondary {
	color: var(--color-on-sec);
	background-color: var(--sec-color);
	border: 1px solid var(--sec-color);
}

.dt-pagination-buttons button.btn-primary,
.rows-per-page button.btn-primary {
	color: var(--color-on-pri);
	background-color: var(--pri-color);
	border: 1px solid var(--pri-color);
}

#team-bat-stats .datatable .dt-pagination-buttons button:hover,
#team-pitch-stats .datatable .dt-pagination-buttons button:hover,
.dt-pagination-buttons button.btn-secondary:hover,
.rows-per-page button.btn-secondary:hover {
	color: var(--color-on-sec-hov);
	background-color: var(--sec-color-hov);
	border: 1px solid var(--sec-color-hov);
}

.dt-pagination-buttons button.btn-primary:hover,
.rows-per-page button.btn-primary:hover {
	color: var(--color-on-pri-hov);
	background-color: var(--pri-color-hov);
	border: 1px solid var(--pri-color-hov);
}

#team-bat-stats .datatable .dt-pagination-buttons button:first-child,
#team-pitch-stats .datatable .dt-pagination-buttons button:first-child,
.dt-pagination-buttons button:first-child,
.rows-per-page button:first-child {
	border-radius: 4px 0 0 4px;
}

#team-bat-stats .datatable .dt-pagination-buttons button:last-child,
#team-pitch-stats .datatable .dt-pagination-buttons button:last-child,
.dt-pagination-buttons button:last-child,
.rows-per-page button:last-child {
	border-radius: 0 4px 4px 0;
}

#team-bat-stats .datatable .dt-pagination-buttons button.text,
#team-pitch-stats .datatable .dt-pagination-buttons button.text,
.dt-pagination-buttons button.text {
	width: auto;
	cursor: pointer;
}

#team-bat-stats .datatable .dt-pagination-buttons button.active,
#team-pitch-stats .datatable .dt-pagination-buttons button.active,
.dt-pagination-buttons button.active {
	text-decoration: underline;
	text-underline-offset: 3px;
}

.rows-per-page button.active {
	color: var(--color-on-sec-active);
	background-color: var(--sec-color-active);
	border: 1px solid var(--sec-color-active);
}

#team-bat-stats .datatable .dt-pagination-buttons button.ellipse:hover,
#team-pitch-stats .datatable .dt-pagination-buttons button.ellipse:hover,
.dt-pagination-buttons button.ellipse:hover {
	cursor: default;
}

#team-bat-stats .datatable .dt-pagination-buttons button.disabled,
#team-pitch-stats .datatable .dt-pagination-buttons button.disabled,
.dt-pagination-buttons button.disabled,
.rows-per-page button.disabled,
#team-bat-stats .datatable .dt-pagination-buttons button.disabled:hover,
#team-pitch-stats .datatable .dt-pagination-buttons button.disabled:hover,
.dt-pagination-buttons button.disabled:hover,
.rows-per-page button.disabled:hover,
#team-bat-stats .datatable .dt-pagination-buttons button.disabled.active,
#team-pitch-stats .datatable .dt-pagination-buttons button.disabled.active,
.dt-pagination-buttons button.disabled.active,
.rows-per-page button.disabled.active {
	color: var(--button-disabled-text-color);
	background-color: var(--button-disabled-bg-color);
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-right: none;
	cursor: default;
}

.dt-pagination-buttons button.btn-secondary.disabled,
.dt-pagination-buttons button.btn-secondary.disabled:hover,
.dt-pagination-buttons button.btn-secondary.disabled.active,
.dt-pagination-buttons button.btn-primary.disabled,
.dt-pagination-buttons button.btn-primary.disabled:hover,
.dt-pagination-buttons button.btn-primary.disabled.active,
.rows-per-page button.btn-secondary.disabled,
.rows-per-page button.btn-secondary.disabled:hover,
.rows-per-page button.btn-secondary.disabled.active,
.rows-per-page button.btn-primary.disabled,
.rows-per-page button.btn-primary.disabled:hover,
.rows-per-page button.btn-primary.disabled.active {
	color: var(--button-disabled-text-color);
	background-color: var(--button-disabled-bg-color);
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-right: none;
}

#team-bat-stats .datatable .dt-pagination-buttons button.disabled:last-child,
.dt-pagination-buttons button.disabled:last-child,
.rows-per-page button.disabled:last-child {
	border-right: 1px solid transparent;
}

#team-bat-stats .datatable .dt-pagination-buttons.mobile button,
#team-pitch-stats .datatable .dt-pagination-buttons.mobile button,
.dt-pagination-buttons.mobile button {
	font-weight: bold;
}

#team-bat-stats .datatable .dt-pagination-rowcount,
#team-pitch-stats .datatable .dt-pagination-rowcount {
	color: var(--sec-color);
	line-height: inherit;
	margin-left: 0;
	font-size: 14px;
}

@media screen and (min-width: 550px) {
	:root {
		--ploc-chart-size: 250px;
		--ploc-data-point-radius: 5px;
	}
}

@media screen and (min-width: 600px) {
	#team-stat-tables .resp-table,
	#game-summary .linescore {
		@apply text-sm;
	}

	#team-stat-tables .resp-table-caption {
		@apply text-xl;
	}
}

@media screen and (min-width: 640px) {
	:root {
		--ploc-chart-size: 300px;
		--papp-chart-size: 600px;
		--ploc-data-point-radius: 8px;
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 15px;
	}

	.show-on-mobile {
		display: none;
	}

	.hide-on-mobile {
		display: table-cell;
	}
}

@media screen and (min-width: 850px) {
	#play-by-play .resp-table {
		@apply text-sm;
	}

	#game-summary,
	#team-stat-tables,
	#play-by-play {
		width: 95%;
	}
}

@media screen and (min-width: 1024px) {
	:root {
		--ploc-chart-size: 350px;
		--papp-chart-size: 700px;
		--ploc-data-point-radius: 10px;
	}

	html {
		font-size: 16px;
	}

	body {
		background: var(--site-bg-color);
	}

	#game-summary,
	#team-stat-tables {
		width: 75%;
	}

	#play-by-play {
		width: 85%;
	}
}
